@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
small {
  font-family: "Fredoka", sans-serif;
}

a,
p,
button {
  font-family: "Montserrat", sans-serif;
}

.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(0, 255, 0, 0.2),
    rgba(255, 165, 0, 0.3)
  );
}

.main {
  width: 100%;
  padding: 50px 0;
  background: linear-gradient(
    90deg,
    rgba(0, 255, 0, 0.2),
    rgba(255, 165, 0, 0.3)
  );
}

.navbar {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.navbar .nav_list {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .nav_list .list_item .item_link {
  font-weight: 600;
  font-size: 18px;
  color: #17202a;
  transition: 0.3s;
}

.navbar .nav_list .list_item .item_link:hover {
  color: #008000;
}

.navbar .nav_list .btn_login {
  display: flex;
  align-items: center;
  color: #fff;
  border-radius: 10px;
  padding: 15px 60px;
  background-color: #008000;
  transform: scale(0.98);
  transition: 0.3s;
}

.navbar .nav_list .btn_login small {
  font-weight: 500;
  font-size: 20px;
}

.navbar .nav_list .btn_login i {
  font-size: 25px;
  margin-left: 5px;
}

.navbar .nav_list .btn_login:hover {
  transform: scale(1);
}

.header_block {
  width: 85%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_block .text_side {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header_block .text_side h1 {
  font-weight: 600;
  font-size: 85px;
  color: #17202a;
}

.header_block .text_side h1 span {
  color: #008000;
}

.header_block .text_side p {
  font-weight: 500;
  font-size: 20px;
  color: #17202a;
  opacity: 0.8;
  line-height: 35px;
  margin-top: 35px;
}

.header_block .text_side .btn_shop {
  display: flex;
  align-items: center;
  color: #fff;
  margin-top: 50px;
  border-radius: 10px;
  padding: 15px 60px;
  background-color: #008000;
}

.header_block .text_side .btn_shop small {
  font-weight: 500;
  font-size: 20px;
}

.header_block .text_side .btn_shop i {
  font-size: 30px;
  margin-left: 10px;
}

.header_block .img_side {
  width: 40%;
}

.header_block .img_side img {
  width: 100%;
}

/* sections */

.awesome {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.awesome .awesome_title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.awesome .awesome_title h3 {
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 1px;
  color: #17202a;
}

.awesome .awesome_title p {
  font-weight: 500;
  font-size: 18px;
  color: #17202a;
  opacity: 0.8;
  margin-top: 15px;
}

.awesome .awe_body_card {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.awesome .awe_body_card .awe_card_box {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.awesome .awe_body_card .awe_card_box b {
  font-weight: 600;
  font-size: 60px;
  color: #008000;
}

.awesome .awe_body_card .awe_card_box small {
  font-weight: 500;
  font-size: 20px;
  color: #17202a;
  opacity: 0.8;
  margin-top: 10px;
}

.gardener {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0;
}

.gardener .gardener_img_side {
  width: 45%;
}

.gardener .gardener_img_side img {
  width: 100%;
}

.gardener .gardener_text_side {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gardener .gardener_text_side h3 {
  font-weight: 600;
  font-size: 40px;
  color: #17202a;
  letter-spacing: 1px;
}

.gardener .gardener_text_side p {
  font-weight: 500;
  font-size: 20px;
  color: #17202a;
  opacity: 0.8;
  margin-top: 30px;
}

.gardener .gardener_text_side .btn_read {
  display: flex;
  align-items: center;
  color: #fff;
  margin-top: 50px;
  border-radius: 10px;
  padding: 15px 60px;
  background-color: #008000;
}

.gardener .gardener_text_side .btn_read small {
  font-weight: 500;
  font-size: 20px;
}

.gardener .gardener_text_side .btn_read i {
  font-size: 30px;
  margin-left: 10px;
}

.plants_cards {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.plants_cards .plancard_title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.plants_cards .plancard_title h3 {
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 1px;
  color: #17202a;
}

.plants_cards .plancard_title p {
  font-weight: 500;
  font-size: 18px;
  color: #17202a;
  opacity: 0.8;
  margin-top: 15px;
}

.plants_cards .plancard_block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.plants_cards .plancard_block .plancard_box {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: 0.3s;
}

.plants_cards .plancard_block .plancard_box img {
  width: 50%;
  height: 230px;
  margin: 0 auto;
}

.plants_cards .plancard_block .plancard_box h4 {
  font-weight: 600;
  font-size: 25px;
  color: #17202a;
  letter-spacing: 1px;
  margin-top: 15px;
}

.plants_cards .plancard_block .plancard_box .rank {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.plants_cards .plancard_block .plancard_box .rank i {
  font-size: 25px;
  color: #ff0;
  margin-right: 5px;
}

.plants_cards .plancard_block .plancard_box .rank small {
  margin-left: 10px;
  font-weight: 500;
  font-size: 18px;
  color: #17202a;
  opacity: 0.8;
}

.plants_cards .plancard_block .plancard_box .price_cart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.plants_cards .plancard_block .plancard_box .price_cart .price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.plants_cards .plancard_block .plancard_box .price_cart .price h6 {
  font-weight: 400;
  font-size: 12px;
  color: #17202a;
  opacity: 0.8;
}

.plants_cards .plancard_block .plancard_box .price_cart .price b {
  font-weight: 600;
  font-size: 20px;
  color: #008000;
  letter-spacing: 1px;
  margin-top: 2px;
}

.plants_cards .plancard_block .plancard_box .price_cart .btn_add_cart {
  border: none;
  border-radius: 10px;
  background: transparent;
  font-weight: 500;
  font-size: 15px;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
